$main_color: #0070f3;
$main_colorLight: #669eff;
$main_colorDark: #0046be;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: $main_color;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  & ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  & li:hover{
    color: $main_colorLight;
    cursor: pointer;
  }
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;

  & a {
    color: $main_color;
    text-decoration: none;

    &:hover, &:focus, :active {
      text-decoration: underline;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}


.block {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: white;

  &:nth-child(even) {
    background-color: lightblue;
  }
}
